<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pacepilot">

    <application
        android:label="pacepilot"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- ... Other configurations ... -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:enableOnBackInvokedCallback="true">

            <!-- ... Other activity configurations ... -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Add the following intent-filter for deep linking -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Update the scheme to match callbackUrlScheme -->
                <data android:scheme="pacepilot" android:host="redirect" />
            </intent-filter>

            <!-- Place meta-data directly inside the <activity> element -->
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
        </activity>

        <!-- Add CallbackActivity for flutter_web_auth_2 -->
        <activity
            android:name="com.linusu.flutter_web_auth_2.CallbackActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth_2">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Update the scheme to match your callback scheme -->
                <data android:scheme="pacepilot" android:host="redirect" />
            </intent-filter>
        </activity>

        <!-- ... Other configurations ... -->

    </application>
</manifest>
